In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [13]:
X = pd.read_csv("./data/train_data.csv")
y = pd.read_csv("./data/test_data.csv")
X.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [23]:
len(X) - 1812 - (69*2)

57450

In [22]:
len(X.groupby(["longitude", "latitude"]))

57520

In [15]:
grouped = X.groupby(["longitude", "latitude"]).size().reset_index(name='Count')
# Sort the groups by count in descending order
sorted_groups = grouped.sort_values(by='Count', ascending=False)

# Select the top n groups
n = 10  # Change this to the number of top groups you want
top_n_groups = sorted_groups.head(n)

In [20]:
top_n_groups

       longitude      latitude  Count
0       0.000000 -2.000000e-08   1812
54166  39.096123 -6.975052e+00      2
45222  37.534327 -6.964258e+00      2
54158  39.095684 -6.992611e+00      2
54156  39.095087 -6.983115e+00      2
11956  32.978062 -2.515321e+00      2
11948  32.977191 -2.516619e+00      2
45210  37.532778 -6.962475e+00      2
54143  39.093484 -6.989456e+00      2
54139  39.093095 -6.978755e+00      2

In [30]:
sorted_groups.where(sorted_groups["Count"]>=2).dropna()

       longitude      latitude   Count
0       0.000000 -2.000000e-08  1812.0
54166  39.096123 -6.975052e+00     2.0
45222  37.534327 -6.964258e+00     2.0
54158  39.095684 -6.992611e+00     2.0
54156  39.095087 -6.983115e+00     2.0
...          ...           ...     ...
54116  39.091380 -6.978322e+00     2.0
44073  37.374017 -7.056923e+00     2.0
43187  37.236326 -7.093914e+00     2.0
11654  32.936689 -2.467137e+00     2.0
44087  37.375717 -7.056372e+00     2.0

[70 rows x 3 columns]

In [17]:
dtree = DecisionTreeClassifier()

# dtree.fit(X,y)
cross_val_score(dtree,X.select_dtypes(exclude="string"),y)

ValueError: Found input variables with inconsistent numbers of samples: [59400, 14850]